@import "bootstrap";
@import "notifications";

body{
    margin: 10px;
    .row {
        margin-right: -10px;
    }
}

.sidebar{
    padding-right: 0;
}

.list-group{
    font-size: 12px;
    .form-group{
        margin-bottom: 0;
    }
    .row{
        margin-right:0;
    }
}
.list-group-item{
    padding: 8px 10px;
    .fa-chevron-down, .fa-chevron-right{
        margin-right: 5px;
    }
    span {
        cursor: pointer;
    }
    & > [class*="col-xs-"]{
        padding-left: 0;
        padding-right: 0;
    }
}

.button-group > * {
    margin-left: 10px;
}

.react-grid-item{
    padding: 10px;
    border: 1px solid #AFB2B5;
    background:#F8FAFB;
    .button-group{
        bottom: 10px;
        right: 10px;
        position: absolute;

    }
}
.period-row{
    padding-left: 10px;
}

.fa-info-circle{
    cursor: pointer;
}

.header{
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 10px;
    .controls .btn-group{
        margin-right: 10px;
    }
    .help{
        text-align: center;
    }
}

.fa-info-circle.fa-lg{
    font-size: 1.6em;
    line-height: 1em;
    vertical-align: -20%;
}

.panel-default > .panel-heading .badge, .badge{
    background-color: #777777;
    font-size: 12px;
    border-radius: .25em;
}
