@import "bootstrap";
@import "font-awesome";
@import "notifications";
@import "print";
@import "isp-form";
@import "select-view";

body{
    margin: 10px;
    .row {
        margin-right: -10px;
    }
}
.has-error{
    color:red;
    font-weight: bold;
}
.sidebar{
    padding-right: 0;
}
.text-bold{
    font-weight: bold;
}
.list-group{
    font-size: 12px;
    .form-group{
        margin-bottom: 0;
    }
    .row{
        margin-right:0;
    }
}
.list-group-item{
    padding: 8px 10px;
    .fa-chevron-down, .fa-chevron-right{
        margin-right: 5px;
    }
    span {
        cursor: pointer;
    }
    & > [class*="col-xs-"]{
        padding-left: 0;
        padding-right: 0;
    }
}
.panel-body {
    .list-item{
        margin: 0 -1px -1px -1px;
        padding: 8px 10px;
        &:not(:first-child){
            border-top: 1px solid #ddd;
        }
        &:last-child{
            border-bottom-left-radius: 0.25em;
            border-bottom-right-radius: 0.25em;
        }
    }
}
.button-group > * {
    margin-left: 10px;
}

.react-grid-item{
    padding: 10px;
    border: 1px solid #AFB2B5;
    background:#F8FAFB;
    .button-group{
        bottom: 10px;
        right: 10px;
        position: absolute;

    }
}
.period-row{
    padding-left: 10px;
}

.header{
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 10px;
    .controls .btn-group{
        margin-right: 10px;
    }
    .help{
        text-align: center;
    }
}

.panel-default > .panel-heading .badge, .badge{
    background-color: #777777;
    font-size: 12px;
    border-radius: .25em;
}
.empty{
    text-align: center;
    display: block;
    margin: 20px 20px;
}
.panel-title{
    .row();
    margin-left:0;
    margin-right:0;
    hr{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    [class^="col-"]{
        padding-left: 0;
    }
    .option{
        font-size:12px;
    }
}

.fa-info-circle.fa-lg{
    font-size: 1.6em;
    line-height: 1em;
    vertical-align: -20%;
}
.fa + .fa{
    margin-left: 5px;
}
.fa-info-circle, .fa-undo, .fa-search{
    cursor: pointer;
}
.fa-undo{
    margin-top: 4px;
}
